@import 'normalize.css/normalize';
@import 'highlightjs/styles/zenburn';
@import 'reveal.js/css/reveal';
@import 'reveal.js/css/theme/template/mixins';
@import 'reveal.js/css/theme/template/settings';
@import 'middleman-presentation-helpers/footer/footer';
@import 'middleman-presentation-helpers/image_gallery/image_gallery';
@import 'middleman-presentation-helpers/images/images';
@import 'middleman-presentation-theme-default/stylesheets/middleman-presentation-theme-default';

section.mp-start-slide {
  img {
    margin: 0;
    padding: 0;
  }
}

.reveal {
  code {
    &.inline {
      vertical-align: bottom;
    }
  }
}

ul.no-bullet {
  list-style-type: none;

  li {
    margin: 0.5em 0;
  }
}
