<section class="mp-contact-slide">
  <h1>Contact</h1>
  <ul class="no-bullet">
    <li>
      <i class="fa fa-twitter"></i> ur5us
    </li>
    <li>
      <i class="fa fa-github"></i> ur5us
    </li>
  </ul>
</section>
